body {
  background-color: black;
  color: gray;
}

.info::before {
  content: "\1f6c8";
}

.champ {
  margin-bottom: 10px;

  label {
    font-weight: bold;
    width: fit-content;
    display: block;
    margin: auto auto 3px;
  }

  input {
    margin: auto;
    display: block;
  }
}

.connexion {
  display: flex;
  width: 100%;
  align-items: center;

  #connexion {
    flex-basis: 50%;
  }

  .message {
    flex-basis: 50%;
    text-align: center;

    a {
      color: lightblue;
    }
  }
}

.profil {
  width: 100%;

  .nomPrenom {
    text-align: center;
    font-size: 200%;
    margin: 0 5px 15px;
  }

  .description {
    margin: 0 5px 15px;
  }

  .legende {
    text-decoration: underline;
    font-weight: bold;
  }

  .contrat {
    margin: 0 0 15px;
    border: gray solid 1px;

    .titre {
      font-size: 150%;
      text-align: center;
    }

    .message, .departementResidence {
      margin: 10px;
    }
  }

  .liensProfil {
    margin: 0 5px 15px;
    display: flex;

    .boutonLien {
      flex-basis: 33%;
      margin: 0 5px;
      padding: 7px;
    }
  }

  .sansContrat {
    text-align: justify;
    margin: 0 20px 10px;
    color: orangered;
  }

  .sousTitre {
    font-size: 120%;
    text-decoration: underline;
    margin: 0 5px 15px;
  }

  .amis {
    display: flex;
    flex-wrap: wrap;

    .message {
      font-style: italic;
      text-align: justify;
    }

    .carteAmi {
      flex-basis: 50%;

      .description {
        margin: 0 0 0 10px;
      }
    }
  }
}

.inscriptionFormulaire, .inscriptionValidation, .inscriptionEmailValidation {
  width: 100%;

  .titre {
    font-size: 200%;
    text-align: center;
    margin: auto auto 20px auto;
  }
}

.inscriptionValidation, .inscriptionEmailValidation {
  p {
    margin: 10px 5px;
    text-align: justify;

    a {
      color: lightblue;
    }
  }
}

.boutonValider {
  color: green;
  display: block;
  margin: 20px auto;
  font-weight: bold;
  padding: 5px 10px;
}

#contenu {
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  flex-wrap: wrap;
}

.erreur {
  color: red;
  font-size: 150%;
  text-align: center;
  flex-basis: 100%;
}

.banniere {
  width: fit-content;
  margin: 5px auto 20px;
  text-align: center;

  .nomSite {
    font-size: 300%;
  }

  .slogan {
    font-size: 75%;
  }
}

.piedDePage {
  margin-top: 10px;
  font-size: 50%;
  text-align: center;

  .credits {
    font-style: italic;
  }
}

.boutonLien {
  a {
    cursor: inherit;
    color: black;
    text-decoration: none;
    font-weight: bold
  }
}

.retour {
  flex-basis: 100%;
  margin: 5px;
  max-width: fit-content;
  padding: 5px 20px;
}

button {
  cursor: pointer;
}

.listeAmis {
  display: flex;
  width: 100%;
  text-align: center;

  #rechercheProfil {
    margin-bottom: 10px;
    display: block;
  }

  form {
    flex-basis: 50%;
    margin: 1px;

    .titre {
      font-size: 125%;
      font-weight: bold;
      text-decoration: underline;
      margin: 10px 0;
      width: 100%;
    }

    .message {
      font-style: italic;
    }

    .ami {
      display: flex;

      &.ligne1 {
        background-color: rgb(50, 50, 50);
      }

      &.ligne2 {
        background-color: rgb(30, 30, 30);
      }

      .carteAmi {
        width: 100%;
      }

      .supprimerAmi {
        color: red;
      }

      .ajouterAmi {
        color: darkgreen;
      }

      button {
        height: fit-content;
        align-self: center;
        margin: 0 5px;
        padding: 1px 5px;
        max-width: fit-content;
      }
    }
  }
}

.carteAmi {
  padding-left: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;

  .description {
    font-style: italic;
    font-size: 80%;
    margin-left: 10px;
  }
}

.supprimerProfil {
  .titre {
    font-size: 200%;
    width: 100%;
    text-align: center;
  }

  .messageImportant {
    padding: 0 5px;
  }

  .boutons {
    display: flex;
    justify-content: center;

    button {
      flex-basis: 50%;
      max-width: 150px;
      margin: 10px;
      height: 30px;

      &.supprimerProfil {
        color: darkred;
        font-weight: bold;
      }
    }
  }
}

.editerProfil {
  width: 100%;

  .message {
    padding: 0 5px;
    margin: 15px 0 5px 0;
  }

  .formulaireContrat {
    flex-wrap: wrap;
  }

  .nomPrenom, .formulaireContrat {
    display: flex;

    .champ {
      flex-basis: 50%;
      max-width: 50%;

      &.departement {
        flex-basis: 100%;
        text-align: center;
      }
    }
  }

  .supprimerContrat {
    width: 100%;
    text-align: center;
    font-weight: bold;

    button {
      color: darkred;
      padding: 5px 10px;
    }
  }
}

// CSS par défaut pour les mobiles pompé ici : https://www.alsacreations.com/astuce/lire/1177-Une-feuille-de-styles-de-base-pour-le-Web-mobile.html
@media (max-width: 640px) {
  * {
    box-sizing: border-box;
  }

  body {
    width: auto;
    margin: 0;
    padding: 0;
  }

  img,
  table,
  td,
  blockquote,
  code,
  pre,
  textarea,
  input,
  iframe,
  object,
  embed,
  video {
    max-width: 100%;
  }

  img {
    height: auto;
  }

  textarea,
  table,
  td,
  th,
  code,
  pre,
  samp {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
  }

  code,
  pre,
  samp {
    white-space: pre-wrap;
  }
}

@media (max-device-width: 768px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
}