<div class="carteAmi">
    <div class="nomPrenom">
        {{ ami.prenom }} {{ ami.nom }}
    </div>
    <div class="description">
        <span class="titreDescription">Description :</span> {{ ami.description ?? 'Aucune description fournie' }}
    </div>
</div>