<div class="carteAmi">
    <div class="nomEtPrenom">
        {{ ami.prenom }} {{ ami.nom }}
    </div>
    <div class="description">
        {{ ami.description ?? 'Aucune description fournie' }}
    </div>
</div>