{% block aideIndex %}
    <div class="aideIndex">
        <div class="partie">
            <div class="titre">
                Fonctionnement
            </div>
            <div class="paragraphe">
                L'objectif de Tu Creuses Où ? est de permettre de garder le contact entre les archéologues au cours de leur carrière à travers leurs différents chantiers. <br/>
                Pour cela, le site se propose de référencer pour chaque personne le département de son contrat en cours (ou de son lieu de villégiature) ainsi qu'une liste d'amis afin d'afficher rapidement la liste des amis actuellement dans le même département.
            </div>
            <div class="paragraphe">
                Afin de protéger les données des personnes, quelques conditions sont nécessaires afin de voir une autre personne dans sa liste :
                <ul>
                    <li>Que vous ayez renseigné soi-même un contrat ou un lieu de villégiature en cours</li>
                    <li>Que l'autre personne ait renseigné un contrat ou lieu de villégiature en cours dans le même département</li>
                    <li>Que vous ayez ajouté l'autre personne dans votre liste d'amis</li>
                    <li>Que l'autre personne vous ait ajouté dans sa liste d'amis</li>
                </ul>
                Si une de ces conditions n'est pas rempli, la personne n'apparaîtra pas dans votre liste d'archéologue.
            </div>
            <div class="paragraphe">
                Vous pouvez vous <a href="/inscription">inscrire</a>, <a href="/">connecter</a>, <a href="/profil">consulter votre profil</a>, <a href="/profil/editer">éditer votre profil</a> et <a href="/profil/listeAmis">gérer votre liste d'amis</a> à travers les différentes pages du site.
            </div>
        </div>
        <div class="partie">
            <div class="titre">
                Données personnelles
            </div>
            <div class="paragraphe">
                Tu Creuses Où ? s'engage à ne jamais vendre ou utiliser à des fins commerciales les données personnelles fournies par ses utilisateurs. Le site ne dépose aucun cookie persistant et n'a pas pour but de monnayer ses fonctionnalités.
            </div>
            <div class="paragraphe">
                À tout moment, vous pouvez aussi <a href="/profil/supprimer">supprimer votre compte</a> sur simple demande sur la page de suppression de profil.
            </div>
        </div>
        <div class="partie">
            <div class="titre">
                Contact
            </div>
            <div class="paragraphe">
                Si vous souhaitez contacter le site pour n'importe quelle raison, n'hésitez pas à le faire par l'une des méthodes suivantes :
                <ul>
                    <li>Par mail sur <a href="mailto:contact@tucreusesou.fr">contact@tucreusesou.fr</a></li>
                    <li>Sur le <a href="https://github.com/SyrinxAndCo/tucreusesou/issues" target="_blank">dépôt Github du projet</a> (méthode à privilégier pour les rapports de bug ou les demandes de fonctionnalités)</li>
                </ul>
            </div>
        </div>
        <div class="partie">
            <div class="titre">
                Information supplémentaire
            </div>
            <div class="paragraphe">
                Le site est opensourcé, vous pouvez donc si vous le souhaitez consulter le code permettant de le faire tourner ou même aider à le faire évoluer ou à le maintenir.
            </div>
            <div class="paragraphe">
                N'hésitez pas à participer si le cœur vous en dit !
            </div>
        </div>
    </div>
{% endblock %}