{% block inscriptionEmailValidation %}
    <div class="inscriptionEmailValidation">
        <h1>
            Inscription à Tu Creuses Où ? terminée
        </h1>
        <div>
            <div>
                Votre email est à présent validé et votre compte activé ! Vous pouvez dès à présent vous <a href="/">connecter</a> afin d'accéder au site.
            </div>
            <div>
                Merci de votre inscription !
            </div>
        </div>
    </div>
{% endblock %}