{% block inscriptionValidation %}
    <div class="inscriptionValidation">
        <h1>
            Inscription à Tu Creuses Où ? soumise avec succès
        </h1>
        <div>
            <div>
                Votre inscription s'est déroulée sans encombre et vous devriez recevoir un mail à l'adresse que vous avez renseignée dans le formulaire.
            </div>
            <div>
                Le mail contiendra un lien permettant de valider votre adresse mail et de finaliser votre inscription.
            </div>
            <div>
                Merci de votre inscription !
            </div>
        </div>
    </div>
{% endblock %}