{% block inscriptionValidation %}
    <div class="inscriptionValidation">
        <div class="titre">
            Inscription soumise avec succès !
        </div>
        <div class="message">
            <p>
                Votre inscription s'est déroulée sans encombre et vous devriez recevoir un mail à l'adresse que vous avez renseignée dans le formulaire.
            </p>
            <p>
                Le mail contiendra un lien permettant de valider votre adresse mail et de finaliser votre inscription.
            </p>
            <p>
                Merci de votre inscription !
            </p>
        </div>
    </div>
{% endblock %}