{% block banniere %}
    <div class="banniere">
        <div class="nomSite">
            Tu Creuses Où ?
        </div>
        <div class="slogan">
            Parce que le monde des archéologues est petit... Mais que la France est grande !
        </div>
    </div>
{% endblock %}