{% block connexion %}
    <div class="connexion">
        {{ include('blocs/erreur.twig', {erreur: erreur}, with_context = false) }}
        <form id="connexion" action="/index/post" method="post">
            <input type="hidden" name="token" id="token" value="{{ token }}">
            <div class="champ">
                <label for="email">
                    Email :
                </label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="champ">
                <label for="mdp">
                    Mot de passe :
                </label>
                <input type="password" name="mdp" id="mdp" required>
            </div>
            <button class="boutonValider">Se connecter</button>
        </form>
        <div class="message">
            Pas encore de compte ?<br>
            <a href="/inscription">Inscrivez-vous</a> ! <br><br>
            Vous ne savez pas ce qu'il se passe ? <br>
            <a href="/aide">Consultez l'aide</a> !
        </div>
    </div>
{% endblock %}