{% block piedDePage %}
    <div class="piedDePage">
        <div class="message">
            Site toujours en construction !
        </div>
        <div class="credits">
            Icon par <a href="https://www.freepik.com">Freepik</a>
        </div>
    </div>
{% endblock %}