{% block piedDePage %}
    <div class="piedDePage">
        <div class="message">
            Site toujours en construction !
        </div>
        <div class="message">
            En cas de problème, vous pouvez me contacter en envoyant un mail à <a href="mailto:contact@tucreusesou.fr">contact@tucreusesou.fr</a> ou en ouvrant une issue sur <a href="https://github.com/SyrinxAndCo/tucreusesou/issues" target="_blank">le dépôt github du site</a>.
        </div>
        <div class="credits">
            Icon par <a href="https://www.freepik.com">Freepik</a>
        </div>
    </div>
{% endblock %}