{% block profil %}
    <div class="profil">
        <div class="nomPrenom">
            {{ profil.prenom }} {{ profil.nom }}
        </div>
        <div class="description">
            {{ profil.description }}
        </div>
        <div class="amis">
            {% for ami in profil.amis %}
            <div>
                {{ ami }}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}